@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
body{
    font-family: "montserrat" , sans-serif;
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    
}
.container{
    max-width: 600px;
    height: 450px;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    
    
}
.all{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


img{
    width: 50%;
    height: 100%;
    
}
.flex{
    margin-left: 35px;
}
.subtitle{
    letter-spacing: 5px;
    font-size: 14px;
    color: hsl(158, 36%, 37%);
}
h1{
    font-family: "fraunces" ,sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 35px;
    font-weight: 700;
    margin-top: -5px;
    line-height: 2rem;
}
.description{
    margin-right: 30px;
    color: hsl(158, 36%, 37%);
    font-weight: 300;
    line-height: 24px;
}
.price{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -30px;

}
.new-price{
    color: rgb(61, 131, 95);
    font-size: 35px;
    font-family: "Fraunces",sans-serif;

}

.old-price{
    margin-left: 20px;
    color:  hsl(158, 36%, 37%);
}
button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 50px;
    margin-right: 30px;
    background-color: rgb(61, 131, 95);
    border: 0;
    border-radius: 7px;
    margin-top: -15px;
    margin-bottom: 20px;
}
button img{
    width: 1rem;
    height: 1rem;
}
.button{
    margin-left: 10px;
    color: white;
    font-weight: 700;
    
}
.attribution{
    text-align: center;
    margin-top: -30px;
}


























